* {
  margin-left: 0;
  font-size: large;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  /* background: linear-gradient(
    130deg,
    #7400b8,
    #5e60ce,
    #4ea8de,
    #56cfe1,
    #64dfdf,
    #80ffdb
  ); */
  background-color: #131d25;
  /* background-color: #92a8d1; */
}

.box {
  display: flex;
  align-items: flex-start;
}

#box1 {
  width: 30%;
  border: 2.5px solid rgb(126, 19, 19);
  text-align: center;
  border-radius: 40px;
  background-color: rgb(255, 63, 63);
  margin-right: 5%;
  margin-left: 7px;
}

#box2 {
  width: 30%;
  border: 2.5px solid rgb(126, 19, 19);
  text-align: center;
  border-radius: 40px;
  background-color: yellow;
  margin-right: 5%;
}

#box3 {
  width: 30%;
  border: 2.5px solid rgb(126, 19, 19);
  text-align: center;
  border-radius: 40px;
  background-color: greenyellow;
}
